@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../font/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Thin.woff2') format('woff2'),
        url('../font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../font/BebasNeue-Regular.woff2') format('woff2'),
        url('../font/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Caprasimo';
    src: url('../font/../font/../font/Caprasimo-Regular.woff2') format('woff2'),
        url('../font/../font/../font/Caprasimo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-ExtraLightItalic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-ExtraBold.woff2') format('woff2'),
        url('../font/../font/../font/Karla-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-LightItalic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Italic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-SemiBold.woff2') format('woff2'),
        url('../font/../font/../font/Karla-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-ExtraLight.woff2') format('woff2'),
        url('../font/../font/../font/Karla-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-BoldItalic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Bold.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Medium.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Italic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-MediumItalic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Light.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Regular.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-SemiBoldItalic.woff2') format('woff2'),
        url('../font/../font/../font/Karla-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/../font/../font/Karla-Regular.woff2') format('woff2'),
        url('../font/../font/../font/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../font/../font/../font/Lora-Regular.woff2') format('woff2'),
        url('../font/../font/../font/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-ExtraBold.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../font/../font/../font/Lora-Italic.woff2') format('woff2'),
        url('../font/../font/../font/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-Black.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-ExtraLight.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-BlackItalic.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-BoldItalic.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-Italic.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-Light.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/../font/../font/Poppins-LightItalic.woff2') format('woff2'),
        url('../font/../font/../font/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.woff2') format('woff2'),
        url('../font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-MediumItalic.woff2') format('woff2'),
        url('../font/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Thin.woff2') format('woff2'),
        url('../font/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rajdhani';
    src: url('../font/Rajdhani-Bold.woff2') format('woff2'),
        url('../font/Rajdhani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.woff2') format('woff2'),
        url('../font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/Rajdhani-Medium.woff2') format('woff2'),
        url('../font/Rajdhani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ThinItalic.woff2') format('woff2'),
        url('../font/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/Rajdhani-Light.woff2') format('woff2'),
        url('../font/Rajdhani-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/Rajdhani-Regular.woff2') format('woff2'),
        url('../font/Rajdhani-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../font/Rajdhani-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

