@media (min-width: 1400px) {
    .line-breaker {
        display: none;
    }
    .header-main .main-heading{
        height: 500px;
    }
    .login-btn {
        margin-right: -30px !important;
        margin-left: 6px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .navbar-collapse form input:focus {
        padding: 0.375rem 0.75rem !important;
    }
    .col-2 {
        width: 16.33%;
        margin: 15px 0px;
    }
    .header-carousel .carousel-top1 img{
        width: 100% !important;
    }
    .carousel-play-partner img{
        width: 100% !important;
    }
    .carousel-play img{
        width: 100% !important;
    }
    .carousel-top2 img{
        width: 100% !important;
    }
    .carousel-play-4 img{
        width: 100% !important;
    }
    .benner img{
        height: 150px;
        padding: 0px 25px;
    }
    .carousel-top2 .col-2{
        width: 19%;
    }
    .carousel-top2 .col-3{
        width: 24%;
        margin: 15px 5px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .navbar-nav {
        display: none;
    }
    .navbar-collapse form input{
        margin-left: 3rem !important;
    } 
    .navbar-brand img{
        margin-right: 3rem;
    }
    .col-2 {
        width: 16.33%;
        margin: 15px 0px;
    }
    .header-carousel .carousel-top1 img{
        width: 100% !important;
    }
    .carousel-play-partner img{
        width: 100% !important;
    }
    .carousel-play img{
        width: 100% !important;
    }
    .carousel-top2 img{
        width: 100% !important;
    }
    .carousel-play-4 img{
        width: 100% !important;
    }
    .benner img{
        height: 150px;
        padding: 0px 25px;
    }
    .carousel-top2 .col-2{
        width: 25%;
    }
    .carousel-top2 .col-3{
        width: 40%;
        margin: 15px 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .line-breaker {
        display: none;
    }
    .header-main .col-6{
        width: 70%;
    }
    .header-main .main-heading h1 {
        font-size: 70px !important;
    }
    .login-btn {
        margin-top: 20px;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .dropdown{
        display: none;
    }
    .navbar-expand-lg .navbar-nav li:hover .nav-link {
        border-bottom: 0px solid rgb(139, 22, 22) !important;
    }
    .col-2 {
        width: 33.33%;
        margin: 15px 0px;
    }
    .header-carousel .carousel-top1 img{
        width: 100% !important;
    }
    .carousel-play-partner img{
        width: 100% !important;
    }
    .carousel-play img{
        width: 100% !important;
    }
    .carousel-top2 img{
        width: 100% !important;
    }
    .carousel-play-4 img{
        width: 100% !important;
    }
    .benner img{
        height: 150px;
        padding: 0px 25px;
    }
    .carousel-top2 .col-2{
        width: 33%;
    }
    .carousel-top2 .col-3{
        width: 48%;
        margin: 15px 5px;
    }
    .footer-area .col-3{
        width: 50%;
    }
    .copy-right .col-6{
        width: 100%;
        margin: 6px 0px;
    }
    .copy-right .float-end{
        float: left !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .line-breaker {
        display: none;
    }
    .header-main .col-6{
        width: 90%;
    }
    .header-main .main-heading h1 {
        font-size: 65px !important;
    }
    .login-btn {
        margin-top: 20px;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .dropdown{
        display: none;
    }
    .navbar-expand-lg .navbar-nav li:hover .nav-link {
        border-bottom: 0px solid rgb(139, 22, 22) !important;
    }
    .col-2 {
        width: 49.33%;
        margin: 15px 0px;
    }
    .header-carousel .carousel-top1 img{
        width: 100% !important;
    }
    .carousel-play-partner img{
        width: 100% !important;
    }
    .carousel-play img{
        width: 100% !important;
    }
    .carousel-top2 img{
        width: 100% !important;
    }
    .carousel-play-4 img{
        width: 100% !important;
    }
    .benner img{
        height: 150px;
        padding: 0px 25px;
    }
    .carousel-top2 .col-2{
        width: 49%;
    }
    .carousel-top2 .col-3{
        width: 48%;
        margin: 15px 5px;
    }
    .footer-area .col-3{
        width: 50%;
    }
    .copy-right .col-6{
        width: 100%;
        margin: 6px 0px;
    }
    .copy-right .float-end{
        float: left !important;
    }
}

@media (max-width: 575px) {
    .line-breaker {
        display: none;
    }
    .header-main .main-heading{
        height: 300px;
    }
    .header-main .col-6{
        width: 90%;
    }
    .dropdown{
        display: none;
    }
    .header-main .main-heading h1 {
        font-size: 60px !important;
    }
    .login-btn {
        margin-top: 20px;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .col-2 {
        width: 45%;
        margin: 15px 0px;
    }
    .benner img{
        height: 150px;
        padding: 0px 25px;
    }
    .carousel-top2 .col-3{
        width: 48%;
        margin: 15px 5px;
    }
    .footer-area .col-3{
        width: 50%;
    }
    .copy-right .col-6{
        width: 100%;
        margin: 6px 0px;
    }
    .copy-right .float-end{
        float: left !important;
    }
}